/*
  The screen
  */

* {
    font-family: 'Architects Daughter', fantasy;
    font-size: 25px;
}

body {
    margin:0;
    padding:0;
    border:0;
    width:100%;
}

#screen {
    width: 100%;
}

/*
  The pads
*/

div.pad {
    position: absolute;
    z-index: 1;
    text-align: center;
    padding-top: auto;
    badding-bottom: auto;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
}

div.pad.horizontal {
    width: 180px;
    height: 30px;
}

div.pad.vertical {
    height: 180px;
    width: 30px;
}

/*
  The ball
*/
div.ball {
    width: 15px;
    height: 15px;
    color: white;
    border-color: red;
    border-style: solid;
    border-radius: 100%;
    position: absolute;
    font-size: 0;
    z-index: 5;
}


div.ball.init {
    /* Hack: To avoid having to read/write DOM during ball initialization,
       we set the position to the middle of the screen arbitrarily during
       ball creation. This is removed on the first call to writeToDOM.*/
    visibility: hidden;
}


/*
  Messages
*/
div#message {
    font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    visibility: hidden;
}

div#message.visible {
    visibility: visible;
}


/*
  The design of score
*/
#score {
    color: red;
    float: right;
}
