/*
  The screen
  */

* {
    font-family: 'Architects Daughter', fantasy;
    font-size: 25px;
}

body {
    margin:0;
    padding:0;
    border:0;
    width:100%;
}

#screen {
    width: 100%;
}

.sprite {
    position: absolute;
    left: 0;
    top: 0;
}

/*
  The pads
*/

div.pad {
    z-index: 1;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    background-color: white;
}

div.pad.horizontal {
    width: 180px;
    height: 30px;
}

div.pad.vertical {
    height: 180px;
    width: 30px;
}

div#pad_north {
    z-index: 2;
}

div#pad_south {
    z-index: 2;
}

/*
  The vortex
*/

@keyframes rotating_vortex {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

div#vortex {
    z-index: 10; /* Must be above the balls */
    border-radius: 100%;
    background-image: url('../img/spiral.png');
    background-size: cover;
    width: 150px;
    height: 150px;

    /* Rotating the vortex */
    animation-duration: 15s;
    animation-name: rotating_vortex;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-oritin: 50% 50%;
}

.pauseanimation {
    animation-play-state: paused;
}

/*
  Messages
*/
div#message {
    font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    visibility: hidden;
    z-index: 20; /* Must be above the vortex*/
}

div#message.visible {
    visibility: visible;
}


/*
  The design of score
*/
#score {
    color: blue;
    position: absolute;
    right: 50px;
    top: 40px;
    z-index: 4;
}


/*
The design of score multiplier
*/
#multiplier {
    color: blue;
    position: absolute;
    right: 50px;
    top: 70px;
    z-index: 4;
}


/*
  Debugging utilities
 */
canvas.debug {
    position: absolute;
    left: 0;
    top: 0;
}
